#jao {
	width: 300px;
	border: 1px solid #CCC;
	padding: 10px;
	background: #FAFAFA;
}

ul.jaofiletree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

ul.jaofiletree li {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

ul.jaofiletree a {
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 0px 2px;
}

ul.jaofiletree a:hover {
	font-weight: bold;
}

ul.jaofiletree li.selected > a {
	background: #CED;
}

/* Core Styles */
.jaofiletree li.directory { background: url(img/directory.png) left top no-repeat; }
.jaofiletree li.expanded { background: url(img/folder_open.png) left top no-repeat; }
.jaofiletree li.drive { background: url(img/drive.png) left top no-repeat; }
.jaofiletree li.file { background: url(img/file.png) left top no-repeat; }
.jaofiletree li.wait { background: url(img/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jaofiletree li.ext_3gp { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_afp { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_afpa { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_asp { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_aspx { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_avi { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_bat { background: url(img/application.png) left top no-repeat; }
.jaofiletree li.ext_bmp { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_c { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_cfm { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_cgi { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_com { background: url(img/application.png) left top no-repeat; }
.jaofiletree li.ext_cpp { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_css { background: url(img/css.png) left top no-repeat; }
.jaofiletree li.ext_doc { background: url(img/doc.png) left top no-repeat; }
.jaofiletree li.ext_exe { background: url(img/application.png) left top no-repeat; }
.jaofiletree li.ext_gif { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_fla { background: url(img/flash.png) left top no-repeat; }
.jaofiletree li.ext_h { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_htm { background: url(img/html.png) left top no-repeat; }
.jaofiletree li.ext_html { background: url(img/html.png) left top no-repeat; }
.jaofiletree li.ext_jar { background: url(img/java.png) left top no-repeat; }
.jaofiletree li.ext_jpg { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_jpeg { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_js { background: url(img/script.png) left top no-repeat; }
.jaofiletree li.ext_lasso { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_log { background: url(img/txt.png) left top no-repeat; }
.jaofiletree li.ext_m4p { background: url(img/music.png) left top no-repeat; }
.jaofiletree li.ext_mov { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_mp3 { background: url(img/music.png) left top no-repeat; }
.jaofiletree li.ext_mp4 { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_mpg { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_mpeg { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_ogg { background: url(img/music.png) left top no-repeat; }
.jaofiletree li.ext_pcx { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_pdf { background: url(img/pdf.png) left top no-repeat; }
.jaofiletree li.ext_php { background: url(img/php.png) left top no-repeat; }
.jaofiletree li.ext_png { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_ppt { background: url(img/ppt.png) left top no-repeat; }
.jaofiletree li.ext_psd { background: url(img/psd.png) left top no-repeat; }
.jaofiletree li.ext_pl { background: url(img/script.png) left top no-repeat; }
.jaofiletree li.ext_py { background: url(img/script.png) left top no-repeat; }
.jaofiletree li.ext_rb { background: url(img/ruby.png) left top no-repeat; }
.jaofiletree li.ext_rbx { background: url(img/ruby.png) left top no-repeat; }
.jaofiletree li.ext_rhtml { background: url(img/ruby.png) left top no-repeat; }
.jaofiletree li.ext_rpm { background: url(img/linux.png) left top no-repeat; }
.jaofiletree li.ext_ruby { background: url(img/ruby.png) left top no-repeat; }
.jaofiletree li.ext_sql { background: url(img/db.png) left top no-repeat; }
.jaofiletree li.ext_swf { background: url(img/flash.png) left top no-repeat; }
.jaofiletree li.ext_tif { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_tiff { background: url(img/picture.png) left top no-repeat; }
.jaofiletree li.ext_txt { background: url(img/txt.png) left top no-repeat; }
.jaofiletree li.ext_vb { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_wav { background: url(img/music.png) left top no-repeat; }
.jaofiletree li.ext_wmv { background: url(img/film.png) left top no-repeat; }
.jaofiletree li.ext_xls { background: url(img/xls.png) left top no-repeat; }
.jaofiletree li.ext_xml { background: url(img/code.png) left top no-repeat; }
.jaofiletree li.ext_zip { background: url(img/zip.png) left top no-repeat; }

/* Only for exemple */
body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', helvetica, sans-serif;
    color: #333;    
}

h1 {
    font-family: 'Archivo Black', helvetica, sans-serif;
    color: #35373D;
    border-top: 3px dashed   #35373D;
    border-bottom: 3px dashed #35373D;
    width: 400px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #485590;
}

a:hover {
    text-decoration: underline;    
}

#wrapper {
    margin: 10px;
    margin-bottom: 160px;
    float: left;
    width: 400px;
}

#content {
    border-left: 3px dashed #35373D;
    float: left;
    padding-left: 30px;
    margin: 10px 20px 160px 60px;
    min-height: 400px;
}

#jao {
    margin-left: 10px;
}

#debug {
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    height: 150px;
    border-top: 1px solid #AAA;
    background: #FFF;
}

#debug a {
    float: right;
    margin-right: 2em;
}

#debug h2 {
    font-size: 0.85em;
    padding: 0.2em 0 0.2em 2em;
    margin: 0;
}

#debugcontent {
    border-top: 1px solid #AAA;
    background:  #DDD;
    overflow-y: scroll;    
    height: 100%;
}